<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Items </h1>
            <h2 th:text="${message}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Item</th>
                    <th> Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${items.empty}">
                    <td colspan="2"> No Items</td>
                </tr>
                <tr th:each="item : ${items}">
                    <td><span th:text="${item.name}"> Item </span></td>
                    <td><span th:text="${item.price}"> Price </span></td>
                </tr>

                <tr>
                    <th> Total</th>
                    <th th:text="${total}"/>
                </tr>


                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/items/create}"> Add Items </a>
            <a class="btn btn-primary" href="#" th:href="@{/items/edit}"
               th:classappend="${items.empty} ? 'disabled' : ''"> Edit Items </a>
            <a class="btn btn-primary" href="#" th:href="@{/items/submitToDB}"
               th:classappend="${items.empty} ? 'disabled' : ''"> Submit </a>
            <a class="btn btn-success" href="#" th:href="@{/items/clear}"> Clear </a>

        </div>
    </div>
</div>
</body>
</html>
