<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Items </h1>
            <h2 th:text="${message}"/>
            <h2 th:text="'LIST ID: ' + ${listId}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/index}"> Back to Home Page </a>
            <table class="table">
                <thead>
                <tr>
                    <th> Item</th>
                    <th> Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${items.empty}">
                    <td colspan="2"> No Items</td>
                </tr>
                <tr th:each="item : ${items}">
                    <td><span th:text="${item.name}"> Item </span></td>
                    <td><span th:text="${item.price}"> Price </span></td>
                </tr>

                <tr>
                    <th> Total</th>
                    <th th:text="${total}"/>
                </tr>

                </tbody>
            </table>

            <form action="#" th:action="@{/items/submitToDB}" method="get">
                <input type="hidden" id="listId" name="listId" th:value="${listId}">
                <p>Date: <input type="text" id="datepicker" name="buyingDate" th:value="${buyingDate}"></p>
                <p>Location: <input type="text" name="location" th:value="${location}"></p>
                <input type="submit" class="btn btn-primary" th:classappend="${items.empty} ? 'disabled' : ''" value="Submit">
            </form>

        </div>

        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/items/create/{listId}(listId=${listId})}"> Add Items </a>
            <a class="btn btn-primary" href="#" th:href="@{/items/edit/{listId}(listId=${listId})}"
               th:classappend="${items.empty} ? 'disabled' : ''"> Edit Items </a>
            <a class="btn btn-success" href="#" th:href="@{/items/clear}"> Clear </a>
        </div>


    </div>


</div>
</body>
</html>
